@font-face {
	font-family: 'opendyslexicMono';
	src: url('font/OpenDyslexicMono-Regular.otf');
}

.majorRead .pause:hover, .majorRead .first:hover {
	background-color:#639df9;
	-webkit-transition: background .5s; /* Safari */
    transition: background .5s;
}

.majorRead .pause, .majorRead .first {
	border-radius:50%;
	-webkit-transition: background .5s; /* Safari */
    transition: background .5s;
}

.majorRead  {
	width:400px;
}

.majorRead .read .content {
	display:none;
}

.majorRead .read {
	border-top:2px black solid;
	border-bottom:2px black solid;
	font-size:20px;	
	font-family:opendyslexicMono;
}

.majorRead .read .currentWord {
	padding-top:10px;
	padding-bottom:10px;
}

.majorRead .read .currentWord .letterSpecial {
	color:red;
}

.majorRead .vertical {
	border-right:2px solid black;
	padding-right:7px;
}

.majorRead .speed {
	width:100%;
}

.majorRead .pause, .majorRead .first {
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}

.majorRead .first {
	float:right;
}

.majorRead .slow {
	float:left;
	padding-left:10px;
	padding-top:10px;
}

.majorRead .fast {
	padding-top:10px;
	float:right;
	padding-right:10px;
}

.majorRead .reset {
	clear:both;
}

.majorRead input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

.majorRead input[type=range]:focus {
  outline: none;
}

.majorRead input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.majorRead input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

.majorRead input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.majorRead input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.majorRead input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.majorRead input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.majorRead input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.majorRead input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.majorRead input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.majorRead input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

.majorRead input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}